:root {
  --font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif",
    "-apple-system", "BlinkMacSystemFont";
  --toastify-font-family: var(--font-family);
  --andritz-blue: #0075be;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  height: 100%;
  display: flex;
}

.loginContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--andritz-blue);
}

.loginLogoContainer {
  width: 150px;
}

.loginText {
  color: white;
  font-size: 1.5em;
}